.audience-block {
	width: 179px;
}

.audience-block__title {
	font-weight: 600;
	text-transform: uppercase;
	color: #2F80ED;
	margin: 0;
}

.audience-block__description {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 25px;
}