.audience {
	padding-left: 70px;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom: 80px;
	background: rgba(47, 128, 237, 0.05);
	border-radius: 100px;
}

.audience__title {
	width: 243px;
	font-size: 24px;
	margin: 0;
	margin-bottom: 39px;
	font-weight: 700;
	color: #000000;
}

@media (min-width: $tablet-width) {
	.audience__title {
		width: 480px;
	}

	.audience {
		padding-left: 94px;
		padding-right: 46px;
	}

	.audience__wrapper {
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: $desktop-width) {
	.audience {
		padding-left: 250px;
		padding-right: 250px;
	}

	.audience__title {
		width: 775px;
		font-size: 30px;
		margin-bottom: 60px;
	}
}