.btn {
	display: inline-block;
	font-weight: 700;
	color: #ffffff;
	padding: 15px 40px;
	border-radius: 50px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover {
	background-color: #30cfb5;
}

.btn:active {
	background-color: #00d8b4;
	color: rgba(255,255,255,.7);
}

@media (min-width: $tablet-width) {
	.btn {
		padding: 18px 40px;
	}
}