.course-program {
	margin-bottom: 100px;
}

.course-program__title {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin: 0;
	margin-bottom: 80px;
	color: #000000;
}

.course-program__list {
	width: 229px;
	padding-left: 70px;
	padding-right: 21px;
	margin-bottom: 40px;
}

.course-program__list-title {
	font-size: 14px;
	font-weight: 600;
	color: #2F80ED;
	margin: 0;
	text-transform: uppercase;
}

.course-program__link {
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding-left: 70px;
	padding-right: 20px;
	text-transform: uppercase;
	text-decoration: underline;
	color: #2F80ED;
}

.course-program__link:hover {
	color: #0265eb;
}

.course-program__link:active {
	color: rgba(8,91,204,.6);
}

.course-program__hidden {
	display: none;
}

@media (min-width: $tablet-width) {
	.course-program__wrapper {
		padding-left: 94px;
		padding-right: 94px;
	}

	.course-program__title {
		font-size: 30px;
		text-align: left;
	}

	.course-program__list {
		padding: 0;
	}

	.course-program__list-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.course-program__link  {
		width: 250px;
		padding: 0;
	}

	.course-program {
		position: relative;
		margin-bottom: 150px;
	}

	.course-program__hidden {
		position: absolute;
		right: 94px;
		bottom: -100px;
		display: block;
		width: 229px;
		padding: 50px 12px 50px 39px;
		background-color: #ffffff;
		box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
		border-radius: 10px;
	}

	.course-program__hidden-title {
		font-weight: 600;
		font-size: 14px;
		margin: 0;
		margin-bottom: 12px;
		text-transform: uppercase;
		color: #2F80ED;
	}

	.course-program__hidden-text {
		margin: 0;
	}

	.course-program__hidden-circle {
		position: absolute;
		width: 89px;
		height: 89px;
		right: -45px;
		bottom: 170px;
		background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
		box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
		filter: blur(10px);
		border-radius: 100px;
	}
}

@media (min-width: $desktop-width) {
	.course-program__list-wrapper {
		width: 560px;
	}

	.course-program__wrapper {
		padding-left: 235px;
		padding-right: 175px;
	}

	.course-program__link  {
		width: 350px;
	}

	.course-program__hidden {
		right: 235px;
		bottom: 100px;
	}

	.course-program {
		margin-bottom: 80px;
	}

}