.effect {
	background: #2F80ED;
	border-radius: 20px;
	padding-bottom: 40px;
	padding-top: 60px;
	margin-bottom: 50px;
}

.effect__title {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 40px;
	text-align: center;
	color: #ffffff;
}

.effect__list {
	padding: 0;
	margin: 0;
	padding: 0 8px 0 8px;
	list-style: none;
}

.effect__item {
	width: 200px;
	padding: 160px 42px 50px 62px;
	background: #ffffff;
	border-radius: 10px;
	margin-bottom: 10px;
	background-position: 60px 60px;
}

.effect__item--skills {
	background-image: url("../img/mobile/icon-effect1.svg");
	background-repeat: no-repeat;
}

.effect__item--process {
	background-image: url("../img/mobile/icon-effect2.svg");
	background-repeat: no-repeat;
}

.effect__item--tools {
	background-image: url("../img/mobile/icon-effect3.svg");
	background-repeat: no-repeat;
}

.effect__item--cases {
	background-image: url("../img/mobile/icon-effect4.svg");
	background-repeat: no-repeat;
}

.effect__item--cases:last-child {
	margin: 0;
}

.effect__item-title {
	font-weight: 600;
	font-size: 14px;
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #2F80ED;
}

.effect__item-description {
	margin-bottom: 0;
}


@media (min-width: $tablet-width) {
	.effect {
		padding-left: 96px;
		padding-right: 105px;
	}

	.effect__title {
		width: 371px;
		font-size: 30px;
		text-align: left;
	}

	.effect__list {
		padding: 0;
	}

	.effect__item {
		width: 366px;
		padding: 38px 46px 38px 154px;
		background-position: 60px 40px;
		margin-bottom: 25px;
	}

	.effect__item--process {
		padding-bottom: 116px;
	}

	.effect__item--tools {
		padding-bottom: 64px;
	}

	.effect__item--cases {
		padding-bottom: 116px;
	}
}

@media (min-width: $desktop-width) {
	.effect {
		margin-bottom: 80px;
		padding-left: 135px;
		padding-right: 135px;
	}

	.effect__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.effect__title {
		font-size: 35px;
	}

	.effect__item--cases:last-child {
		margin-bottom: 25px;
	}
}