.gallery {
	margin-bottom: 50px;
}

.gallery__title {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	color: #000000;
	margin: 0;
	margin-bottom: 30px;
}

.gallery__wrapper-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery__image-link {
	display: block;
}

.gallery__сard {
	margin-bottom: 5px;
}

.gallery__сard:nth-child(7) {
	margin: 0;
}

.gallery__сard:nth-child(8) {
	margin: 0;
}

@media (min-width: $tablet-width) {
	.gallery__title {
		font-size: 30px;
		margin-bottom: 70px;
	}
}


@media (min-width: $desktop-width) {
	.gallery {
	margin-bottom: 70px;
}

	.gallery__сard {
		margin-bottom: 20px;
	}
}
