.main-nav {
	position: relative;
	width: 320px;
	min-height: 50px;
	margin: 0 auto;
}

.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	outline: 0;
	background-color: inherit;
	display: block;
	width: 60px;
	height: 50px;

	cursor: pointer;
	border: none;

	&:hover,
	&:active {
	}
}

.main-nav--closed .main-nav__toggle::before {
	content: "";

	position: absolute;
	top: 15px;
	left: 17px;

	width: 25px;
	height: 2px;

	background-color: #ffffff;
	box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
	top: 0;
	right: 0;

	&::before,
	&::after {
		content: "";

		position: absolute;
		top: 24px;
		left: 18px;

		width: 25px;
		height: 2px;

		background-color: #ffffff;
	}

	&::before {
		transform: rotate(45deg);
		box-shadow: none;
	}

	&::after {
		transform: rotate(-45deg);
	}

	&:active::before,
	&:active::after {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

@media (max-width: $mobile-width-only) {

	.main-nav--closed .site-list__item {
		display: none;
	}

	.main-nav--closed .city-list__item {
		display: none;
	}

	.main-nav--closed .user-list__item {
		display: none;
		&--active {
			display: block;
		}
	}

	.main-nav--opened .main-nav__wrapper {
		width: 100%;
		top: 0;
		background-color: #3879cc;
		position: absolute;
	}

	.main-nav--nojs .main-nav__toggle {
		display: none;
	}

	.main-nav--nojs .main-nav__wrapper {
		position: static;
		min-height: 0;
	}

	.main-nav--nojs .site-list__item {
		display: block;
	}

	.main-nav--nojs .site-list__item--active a {
		padding-right: 21px;
		padding-left: 21px;

		text-align: left;
	}

	.main-nav--nojs .user-list__item {
		display: block;
	}

	.main-nav--opened .user-list {
		display: none;
	}
}

@media (min-width: $tablet-width) {
	.main-nav {
		width: 768px;
	}

	.main-nav__toggle {
		top: 30px;
		right: 15px;
	}
}

@media (min-width: $desktop-width) {
	.main-nav {
		width: 1440px;
	}

	.main-nav__wrapper {
		display: flex;
    justify-content: space-between;
		padding: 30px 130px;
		align-items: center;
	}

	.main-nav__toggle {
		display: none;
	}
}