.need {
	margin-bottom: 80px;
}
.need__title {
	font-size: 24px;
	line-height: 124.41%;
	margin: 0;
	margin-bottom: 67px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.need__wrapper {
	padding: 0 20px;
}

@media (min-width: $tablet-width) {
	.need__title {
		font-size: 30px;
		padding: 0px 155px;
	}

	.need__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 94px;
	}
}

@media (min-width: $desktop-width) {
	.need {
		display: flex;
		padding-left: 135px;
		padding-right: 135px;
	}

	.need__title {
		width: 600px;
		padding: 0;
		padding-top: 170px;
		text-align: left;
	}

	.need__wrapper {
		justify-content: space-evenly;
		padding: 0;
	}
}