.video {
	position: relative;
	border-radius: 10px;
	margin-bottom: 70px;
}

.video__trust {
	border-radius: 10px;
}

.video__btn {
	position: absolute;
	left: 39%;
	top: 35%;
	border: none;
	background-color: transparent ;
	padding: 0;
}

@media (min-width: $tablet-width) {
	.video__btn {
		left: 44%;
		top: 40%;
	}
}